<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-app-review"
      version="3.1.0">

    <name>AppReviewPlugin</name>
    <description>Cordova plugin to review app</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-app-review</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-app-review/issues</issue>

    <js-module src="www/AppReview.js" name="AppReview">
        <merges target="cordova.plugins.AppReview" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppReview">
                <param name="ios-package" value="AppReviewPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/AppReviewPlugin.h" />
        <source-file src="src/ios/AppReviewPlugin.m" />

        <framework src="StoreKit.framework" />
    </platform>

    <platform name="android">
        <preference name="ANDROID_PLAY_REVIEW_VERSION" default="2.0.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppReview">
                <param name="android-package" value="by.chemerisuk.cordova.AppReviewPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~2.0.3" />

        <framework src="com.google.android.play:review:$ANDROID_PLAY_REVIEW_VERSION" />

        <source-file src="src/android/AppReviewPlugin.java"
            target-dir="src/by/chemerisuk/cordova/" />
    </platform>

</plugin>
